.flex-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width:250px;
  margin: 30px;
  padding:10px;
  border:6px solid #555555;

}
.flex-container h1{
font-size: 15px;
color: #555555;
}

.flex-container2 {
  display: flex;
  flex-direction: column;
  background-color:#90EE90;
  width:200px;
  margin: 0px;
  padding:20px;
  border:6px solid#555555;

}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: Arial;

}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #4CAF50;
  border-radius: 8px;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #4CAF50;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 8px;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #555555;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  margin: 15px;
  cursor: pointer;
  border-radius: 8px;
}

span.a {
  display: inline;
  width: 100px;
  height: 100px;
  padding: 5px;
}

#faculty {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width:500px;
  margin-left:380px

}

#faculty td, #faculty th {
  border: 3px solid white;
  padding: 8px;
}

#faculty td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #555555;
  color: lightgray;
}

#faculty th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #90EE90;
  color: gray;
}

 caption{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
  background-color: #90EE90;
  color: gray;
  border: 2px solid white;

}

.topright {
  position: absolute;
  top: 70px;
  right: 10%;

}

#newsletter {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 170%;

}


#newsletter td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:  #555555;
  color: lightgray;

}

#newsletter th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #90EE90;
  color: gray;
}

 #newsletter th {
  border: 3px solid white;
  padding: 8px;
}
.bottomleft {
  position:relative;
  left: 7%;
  padding:90px;
  height: auto;
  display: block;
  width: 500px;
}
