body{
margin:0px;
padding: 0px;
font-family:sans-serif;
background:#F1F1F1;
}

.box{
/*width: 280px;*/
padding: 40px;
position:center;
top:50%;
left:50%;
transform: translate(-50, -50);
background:#90EE90;
text-align: center;
color:white;
}

.box h1{
color: white;
text-transform: uppercase;
font-weight:500;
}
.box input[type= "text"], .box input[type="password"]{
border:0;
background:none;
display:block;
margin:20px auto;
text-align: center;
border:2px solid #F1F1F1;
padding:14px 10px;
width:200px;
outline:none;
color:white;
border-radius:24px;
transition: 0.25s;
}

.box input[type= "text"]:focus, .box input[type="password"]:focus{
width: 280px;
border-color:#2ecc71
}

.box button[type="submit"]{
  border:0;
  background:none;
  display:block;
  margin:20px auto;
  text-align: center;
  border:2px solid #2ecc71;
  padding:14px 40px;
  outline:none;
  border-radius:24px;
  transition: 0.25s;
  cursor:pointer;
}

.box button[type="submit"]:hover{
background:#2ecc71;
}
