#wrapper {
  background-color: lime;
  padding-block-start: 1px;
  margin: 10px;
  box-align:center;
}

.mySidenav{
  position: absolute;
  left: -80px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

.mySidenav :hover {
  left: 0;
}

.about {
  top: 20px;
  background-color: #4CAF50;
}

.blog {
  top: 80px;
  background-color: #2196F3;
}

.projects {
  top: 140px;
  background-color: #f44336;
}

.contact {
  top: 200px;
  background-color: #555
}

.footer {
  background: #90EE90;
  margin:0px;
  padding:15px;
  text-align: center;
}
body{
  background-image: url("https://www.google.com/imgres?imgurl=https%3A%2F%2Fwww.educationcorner.com%2Fimages%2Ffeatured-study-habits-succesful-students.jpg&imgrefurl=https%3A%2F%2Fwww.educationcorner.com%2Fhabits-of-successful-students.html&docid=O9dGSbkusoZ3NM&tbnid=5J5paly5vbBt_M%3A&vet=12ahUKEwiL24uhkqvjAhUQ11kKHYaQAhI4ZBAzKB8wH3oECAEQLA..i&w=1200&h=630&bih=625&biw=1366&q=picture%20of%20students&ved=2ahUKEwiL24uhkqvjAhUQ11kKHYaQAhI4ZBAzKB8wH3oECAEQLA&iact=mrc&uact=8")
  background-color: #bfff00; 
}
