
input[type=email], select {
  padding: 12px 20px;
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: center;

}

input[type=password], select {
  padding: 12px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

input[type=submit] {
  background-color:  #4CAF50;
  color: white;
  padding: 14px 2px;
  margin: 8px 0;
  border: none;
  border-radius: 8px;
  cursor: pointer;

}

.flex-login {
  display: flex;
  justify-content: center;
  margin: 60px;
  padding: 20px;
  width: 600px;
  background-color: #90EE90;
  text-align:center;
}
